/*  your css code here. If applicable */
#table{
	border:1px;
	spacing:1px;
	cell padding:1px;
}
.center{
text-align:center;
}
.right{
text-right:right;
}
#green{
	background:green;
}
#blue{
	background:blue;
}
